name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
            cmake-version: '3.25.x'

      - name: Run tests
        run: |
          chmod +x ./tests/test.sh
          ./tests/test.sh
